- name: Install dependencies
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    update_cache: yes

- name: Install containerd
  apt:
    name: containerd
    state: present

- name: Create containerd config
  file:
    path: /etc/containerd
    state: directory

- name: Generate default containerd config
  command: containerd config default
  register: containerd_cfg
  changed_when: false

- name: Write config
  copy:
    dest: /etc/containerd/config.toml
    content: "{{ containerd_cfg.stdout }}"

- name: Enable systemd cgroups
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'

- name: Restart containerd
  systemd:
    name: containerd
    state: restarted
    enabled: yes
