---
- name: Install Kubernetes CNI (Calico)
  hosts: control_plane
  become: true

  tasks:
    - name: Apply Calico CNI manifest
      command: >
        kubectl apply -f
        https://raw.githubusercontent.com/projectcalico/calico/v3.27.2/manifests/calico.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
