- name: Install dependencies
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
    update_cache: yes

- name: Add Kubernetes GPG key
  shell: |
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key \
    | gpg --dearmor -o /usr/share/keyrings/kubernetes-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/kubernetes-archive-keyring.gpg

- name: Add Kubernetes repo
  apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /
    state: present

- name: Install kube components
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    update_cache: yes

- name: Hold kube packages
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    mark_hold: yes

- name: Enable kubelet
  systemd:
    name: kubelet
    enabled: yes
