name: Destroy Kubernetes Cluster

on:
  schedule:
    - cron: "0 20 * * *"   # Runs daily at 8 PM UTC
  workflow_dispatch:

jobs:
  destroy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify tools
        run: |
          terraform version
          ansible --version
          kubectl version --client

      - name: Placeholder - Destroy Cluster
        run: |
          echo "Terraform destroy will go here"
